*{ -webkit-box-sizing: border-box ;
    -moz-box-sizing: border-box ; 
    box-sizing: border-box;
    padding: 0; 
    margin: 0; 
    

} 
ul{
    list-style: none; 
    

}
.all{
    width: 100%;
    height: 100vh;  
    background-image: url(pexels-adam-krypel-7649118.jpg);  
    background-size: cover;  
    background-position: center; 
    


} 
ul li{
    display: inline-block; 
    color: #a7b6eb;  
    font-size: 20px ; 
    padding: 15px;  

     
   
}  


img.astro{ 
    width: 120px;  
    height: 100px; 
}
nav{
    display: flex; 
    width: 85%; 
    margin: auto; 
    padding: 20px 0;  
    align-items: center;
    justify-content: space-between; 

}
nav button{
    border: 13px solid;
    border-color: #af4ad6;
    border-radius: 30px;
    background-color: #af4ad6; 
    cursor: pointer; 
    color: white; 
    margin: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-weight: 300; 
    font-size: 20px; 
}
nav ul li{
    position: relative;
    cursor: pointer ; 
}

nav ul li::after{
    content: '';
    height: 5px;
    width: 0;
   
    background-color: #af4ad6;
    position: absolute; 
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}
nav ul li:hover::after{ width: 100%; 

}
/* colors 
#9c90e6 */ 
.content{
    display: flex; 
    flex-direction: column;  
    top: 40%; 
    width: 100%;
    position: absolute; 
    align-items: center;
    justify-content: center;

}
.content h1{
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;  
    font-size: 50px;
    margin-top: 50px;
    color: #ebedf3;
} 
.content p{
    font-size: 20px ; 
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    color: white ;

}
.content button{
    width: 200px; 
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    border: 2px solid #af4ad6; 
    background: transparent;
    color: #fff;
    cursor: pointer;
 }